
; Binds functions to TriggerItems
; Path is seperated by :
; Example:
; Lego*:Menu:MainMenuFull:Menu5:Item1 exit
; 
; This binds the function "exit" to the trigger item with the path: "Lego*/Menu/MainMenuFull/Menu5/Item1"

Triggers {
	Lego*:Menu:MainMenuFull:Menu5:Item1 exit
}